.input-currency {
  border: none;
  border-bottom: 1.5px solid #1c1c1c;
  background-color: transparent;
  padding: 5px;
  font-size: 15px;
  margin-top: 13px;
  width: 180px;
}

.input-currency-invalid {
  border: none;
  border-bottom: 1.5px solid red;
  background-color: transparent;
  padding: 5px;
  font-size: 15px;
  margin-top: 13px;
  width: 180px;
}

.input-currency::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-currency:focus {
  outline: none;
}

.input-currency-invalid::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-currency-invalid:focus {
  outline: none;
}

.input-currency-container-left {
  margin-left: 45px;
}

@media (max-width: 800px) {
  .input-currency-container {
    display: flex;
    flex-direction: column;
    margin-left: -5px;
  }

  .input-currency-container-left {
    display: flex;
    flex-direction: column;
    margin-left: -5px;
  }

  .input-currency {
    margin-top: 0;
  }

  .input-currency-invalid {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .input-currency {
    margin-bottom: 20px;
    width: 250px;
    height: 50px;
  }

  .input-currency-invalid {
    margin-bottom: 20px;
    width: 250px;
    height: 50px;
  }
}
